
:root {
    --bg-primary: #070F2B;
    --skeleton-base:  #1B1A55;
    --skeleton-highlight: rgb(199 193 193 / 0.6);
}

html {
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 400;
    font-size: 100%;
    @apply text-text-primary;
}

body {
    background-color: var(--bg-primary);
}

#root {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}